<section id="page-title">
  Basket
</section>

<section id="navigate-back">
  <a href="/">Return to shop</a>
</section>

<section id="order">
  <section id="payment">
    <h2>
      <%= @basket_contents.length %> Item(s) In Basket
    </h2>
    <% if @total_cost != "0.00" %>
      <p> Total: £<%= @total_cost %> </p>
      <%= @error_message %>
      <% if @voucher_used %>
        <p> Voucher successfully applied.  Refresh page if you'd like to apply a different one </p>
      <% else %>
        <p> If you have a voucher code, enter it here: </p>
        <form action="/voucher" method="POST">
          <input type="text" name="voucher">
          <button type="submit">apply voucher</button>
        </form>
      <% end %>
    <% end %>
  </section>

  <section id="order-details">
    <% @basket_contents.each do |product| %>
      <% if Product.get(product.to_i) %>
        <% @product = Product.get(product.to_i) %>
        <li>
          <p> Product: <%= @product.name %> (<%= @product.colour %>)</p>
          <p> Price: <s><%= @product.formatted_previous_price %></s> <%= @product.formatted_price %> </p>
          <p> Category: <%= @product.gender %> <%= @product.category %> </p>
          <p>
            <form action="/discard" method="POST">
              <button type="submit"  name="product_id" value="<%= product %>">discard</button>
            </form>
          </p>
        </li>
      <% else %>
        <h3>Item not found</h3>
        <form action="/discard" method="POST">
          <button type="submit"  name="product_id" value="<%= product %>">discard</button>
        </form>
      <% end %>
    <% end %>
  </section>
</section>
