<section id="basket_counter">
  <%= @basket_count %> item(s) in basket
  <a href="/basket">View your basket</a>
</section>

<h1> Products </h1>

<ul id='products'>
  <% @products.each do |product| %>
    <li>
      <p> Product: <%= product.name %> (<%= product.colour %>)</p>
      <p> Price: <s><%= product.formatted_previous_price %></s> <%= product.formatted_price %> </p>
      <p> Category: <%= product.gender %> <%= product.category %> </p>
      <p>
        <form action="/buy" method="POST">
          <button type="submit"  name="product_id" value="<%= product.id %>">BUY</button>
        </form>
      </p>
    </li>
  <% end %>
</ul>
