<header>
  <h1>
    Shop-Shop-a-Shop
  </h1>
  <section id="basket-counter">
    <%= @basket_count %> item(s) in basket
    <% if @basket_count > 0 %>
    <a href="/basket">View your basket</a>
    <% end %>
  </section>
</header>



<section id="page-title">
  Products
</section>

<section id="gender-filter">
  <form action="/filter" method="POST">
    <button type="submit" name="gender" value="M">MEN'S</button>
    <button type="submit" name="gender" value="W">WOMEN'S</button>
    <button type="submit" name="gender" value="B">BOTH</button>
  </form>
</sections>


<section id="product-catalogue">
  <ul id='products'>
    <% @products.each do |product| %>
      <li>
        <section id="product">
          <p> Product: <%= product.name %> (<%= product.colour %>)</p>
          <p> Price: <s><%= product.formatted_previous_price %></s> <%= product.formatted_price %> </p>
          <p> Category: <%= product.gender %> <%= product.category %> </p>
          <div id="picture">
            <img src="images/<%= product.image_location %>.jpg" alt="<%= product.name %> (<%= product.colour %>)">
          </div>
          <p>
            <% if product.stockroom_count > 0 %>
              <form action="/buy" method="POST">
                <button type="submit"  name="product_id" value="<%= product.id %>">BUY</button>
              </form>
            <% else %>
              <h2>Item out of stock</h2>
            <% end %>
          </p>
        <section id="product">
      </li>
    <% end %>
  </ul>
</section>
